[user]
    name = Akito Naito
    email = naito.akito@gmail.com
[core]
    excludesfile = ~/.gitignore_global
    editor = vim -c \"set fenc=utf-8\"
    precomposeunicode = true
    quotepath = false
[color]
    diff   = auto
    status = auto
    branch = auto
    ui     = auto
[alias]
    addu = add -u
    adda = add -A
    ci  = commit
    cim = commit -m
    cia = commit --amend
    co  = checkout
    coma = checkout master
    st  = status -sb
    br  = branch
    l   = log --oneline
    lg  = log --graph --decorate --oneline
    dcw = diff --color-words
    dc  = diff --cached
    df  = diff
    dw  = diff -w
    g   = grep
    gi  = grep -i
    gc  = grep -C
    gci = grep -i -C
    si  = switch
    sta = stash
    stal = stash list
    stalp = stash list -p
    pl = pull
    rc = rebase --continue
[grep]
    lineNumber = true
[push]
    default = simple
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[ghq]
    root = ~/src
[commit]
    template = ~/.stCommitMsg
[credential]
	helper = !aws codecommit --profile dev credential-helper $@
#	UseHttpPath = true
[merge]
	ff = false
[pull]
	ff = only
	rebase = merges
