[core]
    excludesfile = /Users/akito/.gitignore_global
	editor = vim -c \"set fenc=utf-8\"
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[user]
    name = AkitoMizuno
    email = mznakt@gmail.com
[push]
	default = matching
[alias]
    ad  = add
    adu = add -u
    ada = add -A
    ci  = commit
    cim = commit -m
    cia = commit -ma
    ciame = commit --amend
    co  = checkout
    st  = status -sb
    br  = branch
    l   = log --oneline
[color]
	ui = auto
